body{
    font-family: 'Comic Neue', cursive;
    letter-spacing: 1px;
    font-size: 17px;
}

.head{
    color: red;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    letter-spacing: 1px;
}
.bottle{
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px grey;
    background-color: grey;
}
.shoes{
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px grey;
    background-color: grey;
}
.bed{
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px grey;
    background-color: grey;
}
.Headphones{
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px grey;
    background-color: grey;
}
.watch{
    width: 1300px;
    height: 500px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px grey;
    background-color: grey;
}
.text{
    text-align: left;
    color: white;
}

.image_item{
    vertical-align: left;
    border-radius: 10px;
    
}

.output{
    border-radius: 100px;
    background-color: white;
    letter-spacing: 2px;
}

.result{
    color: white;
}

.note{
    background-color: rgba(216, 44, 44, 0.545);
    border-color: black;
    border-width: medium;
}
#footer {
    margin-bottom: auto;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: grey;
}